/* Ajustes gerais */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden; /* Impede o scroll horizontal */
}

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle, rgba(14,49,226,1) 0%, rgba(70,187,252,1) 65%);
  color: #FFD700;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
header {
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  padding: 0;
  min-height: 120px; /* Definir uma altura fixa */
}

header img {
  width: 100px;
  height: auto;
}

header .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 30px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #d9d9d9;
}

nav ul li a.active {
  color: #0da8f0;
}

nav form {
    align-items: center;
    display: flex; /* Mantém o botão alinhado */
    justify-content: flex-end;
}

/* Botão de Login */
.login_button {
  background-color: transparent;
  font-weight: 500;
  color: #0da8f0;
  border: 2px solid #0da8f0;
  padding: 10px 22px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background, color 0.3s;
  margin-left: auto; /* Mantém alinhado à direita */
}

.login_button:hover {
  background: #0da8f0;
  color: #fff;
}

/* Estilos do formulário */
.form_container {
  position: fixed;
  max-width: 350px; /* Ajuste de largura */
  width: 100%;
  top: 50%;
  left: 50%;
  padding: 25px;
  transform: translate(-50%, -50%) scale(1);
  z-index: 101;
  background: rgba(252, 252, 252, 1); 
  color: #0b0217;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

/* Quando o formulário está visível */
.home.show .form_container {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, -50%) scale(1);
}

.form {
  display: block;
  top: 50%;
  left: 50%;
}


.signup_form {
  display: none;
}

.form_container.active .signup_form {
  display: block;
}

.form_container.active .login_form {
  display: none;
}

.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 22px;
  color: #0b0217;
  opacity: 0.7;
  cursor: pointer;
}

.form_container h2 {
  font-size: 22px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}

.input_box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  border-bottom: 1.5px solid #aaaaaa;
  transition: border-color 0.2s ease;
}

.input_box input:focus {
  border-color: #0f85e6;
}

.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}

.input_box i.email,
.input_box i.password {
  left: 0;
}

.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}

/* Botões do formulário */
.button {
  background-color: #0f85e6;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
  width: 100%;
  margin-top: 30px;
}

.button:hover {
  background-color: #008CBA;
}

/* Texto de Login/Registo */
.login_signup {
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
}

/* Conteúdo Principal */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin-top: 80px; /* Ajuste para evitar sobreposição */
}

section {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 140px; /* Ajuste maior para garantir que o conteúdo não seja sobreposto */
}

section table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

section table td {
  text-align: left;
  padding: 8px;
}

section table td img{
   display: block;
   margin-left: auto;
   margin-right: auto;
}

section table th {
  text-align: center;
  padding: 8px;
}

section table tr:nth-child(odd):not(:first-child) {
  background-color: rgba(170, 170, 170, 0.3);

}

.conteudo {
    display: none; /* Garante que a div esteja invisível */
}

.mostrar {
    display: block; /* Torna a div visível */
}

/* Footer */
footer {
  background-color: #ffffff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
  color: black;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  width: 100%;
  padding: 15px 0;
  position: relative;
  z-index: 1000;
  height: auto;
}

footer img {
  width: 637px;
  height: 74px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

/*botao inserir imagem*/
.input_box input[type="file"] {
  width: 100%;
  padding: 0;
  border: none;
  background: none;
  color: white; /* texto "Nenhum ficheiro selecionado" */
  background-color: transparent; /* para combinar com o fundo */
}

input[type=file]::file-selector-button {
  padding: 10px 22px;
  border: 2px solid #0da8f0;
  background: #0da8f0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition: background 0.3s, color 0.3s;
  margin-left: 0;
}

input[type=file]::file-selector-button:hover {
  background: transparent;
  border: 2px solid #fff;
}

input[type=file]::file-selector-button:active {
  transform: scale(0.98);
}

/*botao inserir */
.button_inserir {
  padding: 10px 22px;
  border: 2px solid #0da8f0;
  background: #0da8f0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition: background 0.3s, color 0.3s;
}

.button_inserir:hover {
  background: transparent;
  border: 2px solid #fff;
}

.button_inserir:active {
  transform: scale(0.98);
}

.botao_centro {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

/* Responsivo */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header .container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  nav {
    background-color: #ffffff;
    width: 100%;
    padding: 10px 0;
  }

  nav ul {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  nav ul li {
    width: 100%;
  }

  main {
    margin-top: 100px;
  }

  section {
    padding-top: 160px;
  }

  footer {
    padding: 20px 10px;
    font-size: 14px;
  }

  footer img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
}
